#form{
    background-color: var(--neutral-100);
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid var(--neutral-300);
    box-shadow: 0px 0px 10px var(--neutral-300);

    .content-container{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 15px;
        }

        form{
            display: flex;
            gap: 30px;

            @media (max-width: 768px) {
                width: 100%;
                gap: 15px;
            }

            .count,.country{
                display: flex;
                flex-direction: column;
                gap: 5px;

                @media (max-width: 768px) {
                    width: 100%;
                }
                
                select{
                    border: 1px solid var(--neutral-300);
                    border-radius: 10px;
                    padding: 10px 15px;
                    min-width: 150px;
                    cursor: pointer;
                }
            }
        }

        .generate{
            background-color: var(--primary-500);
            color: var(--neutral-100);
            padding: 15px 15px;
            border-radius: 10px;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.25s;

            @media (max-width: 768px) {
                width: 100%;
            }

            &:hover{
                background-color: var(--primary-700);
            }
        }
    }
}